body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 5px;
    padding: 10px 15px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #256f46;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
}

img {
    max-width: 100%;
    margin: 20px 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin-top: 20px;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 15px auto;
}

/* ОБЩИЙ размер для всех картинок */
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 15px auto;
}

/* START – первая страница (увеличить) */
img[src*="start-food.jpg"] {
    max-width: 80%;
}

/* GETRÄNKE – напитки (уменьшить) */
img[src*="sugar"] {
    max-width: 40%;
}

/* KINDER / JUGENDLICHE – увеличить */
img[src*="teen-food"] {
    max-width: 60%;
}
